<div class="row">
	<div class="col-md-12">
		<img src="/images/aislogo.png" class="rounded mx-1" width="30%">
		<p class="h2">Act In Space</p>
		<p class="lead mt-">Act In Space is a business competition started by CNES (Centre Nationale des Etudes Spatiale) with support from ESA (European Space Agency) and ESA BIC Sud France.</p>
		<p>SEDS Canada is honoured to be hosting the inagural Canadian edition of the competition. The winners of the national competition will get to travel to France to compete in the international final!</p>
		<p>Stay tuned for more information!</p>
	</div>
</div>