<div class="btn-group">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".president-modal">President</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".vpext-modal">VP External</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".vpin-modal">VP Internal</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".vpfin-modal">VP Finance</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".events-modal">Events Chair</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".ptojects-modal">Projects Chair</button>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".at-large-modal">Director at Large</button>
</div>

<div class="modal fade president-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="text-align: left;margin-left: 20px;">
			<div class="modal-header">
				<h2>Position Details: President</h2>
			</div>
			<div class="modal-body">
				<h3>The short version:</h3>
				<ul>
					<li>Leads SEDS, ensuring that its vision and direction are in line</li>
					<li>Oversees the Board of Directors and the staff</li>
					<li>Represents SEDS to the public, the media, and the government</li>
					<li>Time Commitment: minimum 5 hours a week</li>
				</ul>
				<h3>The long version:</h3>
				<p>The President presides over the Board of Directors and is responsible for ensuring continuous communication among directors, members, Chapter Representatives, Chapters, advisors, alumni, and outside organizations. The President shall lead efforts to set near-term goals and a long-term vision for the Corporation. The President shall serve as the main spokesperson to represent the Corporation to the public, media and government. In the event a situation arises where an immediate decision is necessary, the President may make the decision on behalf of the Board, but must report all such decisions at the next regularly scheduled Board meeting, where the Board may overturn such decisions as they see fit. The President shall also preside over meetings of members. The President shall assign duties to the Directors at Large, and may also assign duties to other officers and directors of the board as necessary. The President shall directly oversee top-level staff positions – including but not limited to the Chief of Staff and the Chief Recruiting Officer – as well as any staff not under the direct oversight of another director or staff member. The President is ultimately responsible for all activities of the Corporation, and for ensuring the smooth operation thereof.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade vpext-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="text-align: left;margin-left: 20px;">
			<div class="modal-header">
				<h2>Position Details: VP External</h2>
			</div>
			<div class="modal-body">
				<h3>The short version:</h3>
				<ul>
					<li>Oversees social media accounts</li>
					<li>Facilitates public relations, media relations, and participation in government/industry events</li>
					<li>Liaises with SEDS’s Board of Advisors and alumni</li>
					<li>Promotes membership to students at Canadian universities</li>
					<li>Time Commitment: minimum 5 hours a week</li>
				</ul>
				<h3>The long version:</h3>
				<p>The Vice President (VP) External is responsible for external public communications, for the development and implementation of an effective public relations strategy for branding of the Corporation, and for improved public awareness of the organization. The VP External shall serve as the point of contact for government and media relations, and shall handle matters such as requests for information, requests for interviews, and invitations to meetings. Additionally, the VP External shall or oversee any staff members whose duties relate to the website, social media, publicity, and/or alumni engagement; and shall create and publish press release documents to communicate to the public any news of the organization, developments within the organization, or opinions of the organization on developments within the space industry. The VP External also acts as the liaison to the Board of Advisors and to alumni of the Corporation (including facilitating meetings of the Board of Advisors), and is responsible for developing and enacting a plan to promote membership in the organization to university students.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
			</div>
		</div>
	</div>

	<div class="modal fade vpin-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="text-align: left;margin-left: 20px;">
				<div class="modal-header">
					<h2>Position Details: VP Internal</h2>
				</div>
				<div class="modal-body">
					<h3>The short version:</h3>
					<ul>
						<li>Writes agendas and takes meeting minutes</li>
						<li>Moderates mailing lists; facilitates communication with members and chapters</li>
						<li>Keeps SEDS documents organized and up-to-date</li>
					</ul>
					<h3>The long version:</h3>
					<p>The Vice President (VP) Internal serves as Secretary of the corporation, which includes the following responsibilities: writing and distributing an agenda in advance of all meetings of the Corporation; taking written/visiual/audio notes as appropriate at all meetings of the Corporation and maintaining a record of those notes; recording those notes in easily-accessible electronic format for review by the board and others and for future use; maintaining an organized file of all current records within the Corporation; moderating the mailing lists and sending mailings to members as necessary; and understanding the bylaws and ensuring that they are followed in all dealings of the Corporation. The VP Internal is responsible for maintaining correspondence with all Chapter Representatives and student members of the Corporation; and developing and executing a plan for engaging the members of the Corporation. The VP Internal is responsible for administering all elections of the Corporation. Additionally, the VP Internal shall file all official documents of the Corporation as per the Act, and will specifically work with the VP of Finance to assure proper documentation of financial records for long-term retention. The VP Internal shall directly preside over staff members whose duties relate to graphics and/or engaging current members.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade vpfin-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="text-align: left;margin-left: 20px;">
				<div class="modal-header">
					<h2>Position Details: VP Finance</h2>
				</div>
				<div class="modal-body">
					<h3>The short version:</h3>
					<ul>
						<li>Oversees SEDS’s finances</li>
						<li>Puts together SEDS’s budget</li>
						<li>Takes point on fundraising and sponsorship</li>
					</ul>
					<h3>The long version:</h3>
					<p>The Vice President of (VP) Finance acts as Treasurer of the Corporation, which includes the following responsibilities: maintaining the monetary assets of the Corporation; having oversight over all financial matters that concern the Corporation; keeping an accurate account of all assets, liabilities, receipts and disbursements of the Corporation; and leading the annual budgetary process, to budget the expected income and expenditures before the start of the year. If the Corporation is granted a tax status, it is the duty of the VP Finance to ensure that this status is maintained by the proper filing of any required forms and documents relevant to the finances of the Corporation. The VP Finance shall also lead efforts to organize fundraising activities for the Corporation and shall supervise those activities, and shall also work with the Projects Chair and Events Chair towards fundraising for specific activities. The VP Finance is also responsible for long-term strategic planning of the Corporation’s finances, and for the development and maintenance of an investment portfolio.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade events-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="text-align: left;margin-left: 20px;">
				<div class="modal-header"> 
					<h2>Position Details: Events Chair</h2>
				</div>
				<div class="modal-body">
					<h3>The short version:</h3>
					<ul>
						<li>Coordinates SEDS conference, workshops, and/or other events (location, speakers, sponsorship, advertising, etc.)</li>
					</ul>
					<h3>The long version:</h3>
					<p>The Events Chair is responsible for facilitating the planning and execution of events, including an annual conference and/or semesterly workshops. Duties include, whether directly or through oversight of staff members and other directors: securing a location; contacting and confirming speakers; soliciting necessary funding (working with the VP Finance); organizing food and accommodations; ensuring publicity via social media advertising, web advertising (including a conference website), print/poster advertising, and any other formats; developing and printing a program and name tags; and troubleshooting any problems that arise during the events. The Events Chair shall also plan social events for the Corporation, and specifically social events taking place in conjunction with the above conference/workshops. The Events Chair may put together and lead a committee of members or nonmembers of SEDS to assist in planning and running these events; even in this case, the Events Chair retains full and ultimate responsibility for all aspects of the events. The Events Chair directly oversees any staff members hired to assist with these events, as well as other staff members in regard to tasks pertaining to these events.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade projects-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="text-align: left;margin-left: 20px;">
				<div class="modal-header">
					<h2>Position Details: Projects Chair</h2>
				</div>
				<div class="modal-body">
					<h3>The short version:</h3>
					<ul>
						<li>Oversees SEDS projects and competitions</li>
						<li>Organizes events related to projects (e.g., on-campus Q&A sessions for competitions and awards ceremonies)</li>
					</ul>
					<h3>The long version:</h3>
					<p>The Projects Chair is responsible for overseeing the administration of current SEDS-ÉEDS projects, for developing new projects, and for organizing events related to current projects. The first responsibility includes soliciting funding for current projects (working with the VP Finance), liaising with Project Managers to ensure that projects are running smoothly, attending meetings regarding all projects, and aiding Project Managers as necessary throughout the course of the projects. The second responsibility involves envisioning and elaborating on new potential projects, finding partners for those projects, and hiring staff members as necessary to further develop and run those projects. The third responsibility involves facilitating the planning and execution of all aspects of events related to projects (such as on-campus Q&A sessions and awards ceremonies), either directly or in conjunction with staff members, and includes but is not limited to the following: securing a location; soliciting necessary funding (working with the VP Finance); ensuring publicity via social media advertising and any other formats; designing and printing name tags; inviting media and government officials to attend (working with the VP External); and troubleshooting any problems that arise during the events. The Projects Chair directly oversees any staff members hired to assist with the above-mentioned projects.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade at-large-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="text-align: left;margin-left: 20px;">
				<div class="modal-header">
					<h2>Position Details: Director-at-Large</h2>
				</div>
				<div class="modal-body">
					<h3>The short version:</h3>
					<ul>
						<li>Helps out anywhere!</li>
						<li>Chooses a portfolio based on something we’re not doing well enough yet</li>
						<li>Up to three posisitons available!</li>
					</ul>
					<h3>The long version:</h3>
					<p>Each Director at Large shall assist, and shall act at the direction of, the President and/or the other officers and/or the other directors of the board. The duties of the Director(s) at Large will vary depending on the needs of the board and the organization, and may change throughout the year. The Director(s) at Large should aid the board and staff of the organization in any way they deem necessary or helpful, and should inform the President of any tasks they would like to carry out or projects they would like to work on.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
	</div>