<div class="row">
	<div class="col-md-12">
		<img src="/images/curiosity_mars.jpg" class="rounded mx-1" width="50%" />
		<p class="display-4">Satellites Around Mars: What Will it Take</p>
		<p class="lead">A competition sponsored by the Society of Satellite Professionals International</p>
		<p>The colonization of Mars has become a much-talked-about topic, from Elon Musk’s stated desire to end his days on the red planet to the Mars One campaign to send astronauts on a one-way journey there. One of the first steps required for successful colonization will be to put communication relay satellites into orbit to support robot landers and ultimately human settlements. Satellites are a well-established technology – but the challenges of getting them to another planet and operating them there will be vast.</p>
		<br />
		<p class="h3">Project Specifications</p>
		<p>Your assignment is to create a satellite communications capability to support exploration, colonization and early development of Mars, including both surface-to-space communications and Mars-to-Earth communications.</p>
		<br />
		<p class="h3">Mission Description</p>
		<p>Initial exploration of Mars will be conducted robotically to assess environmental conditions, availability of resources and potential colonization sites. Supporting the robotic mission will be a fleet of small satellites in low Mars orbit, which provide a minimum of 6 hours of connectivity per robotic lander or about 25% of the sidereal day. Because smallsats will lack sufficient power for Earth-Mars communication, they will network with a larger satellite in middle or synchronous orbit positioned for a maximum duration of line of site with Earth. </p>
		<p>The robotic exploration mission(s) will be followed by the dispatch of habitat units assembled in Earth orbit, flown robotically to Mars orbit and landed on Mars. Once operation of the habits is confirmed, the first human colonists will make the journey from Earth to Mars.  By the time human colonists reach the surface, the communications system will need to provide surface-Mars orbit-Earth connectivity for 98% of the sidereal day. </p>
		<p>The mission will be developed and funded by multiple nations, which will also contribute terrestrial communications infrastructure to maintain the link with Mars.  The mission plan should include testing in Earth orbit before deployment to Mars.</p>

		Read the full mission specifications and competition guidelines <a href="/Files/Satellites Around Mars- What Will It Take.pdf" class="text-danger" target="_blank">here</a>.
	</div>
</div>