<img src="/images/can-rgx-2-patch.png" class="rounded mx-1" width="30%" />
<p class="h2 mt-3">Canadian Reduced Gravity Experiment Design Challenge</p>
<p class="lead">Canada’s first microgravity research competition for students, in collaboration with the National Research Council and the Canadian Space Agency.</p>

<p>The Canadian Reduced Gravity Experiment Design Challenge (CAN-RGX) is a competition for Canadian post-secondary students to design and test a small scientific experiment on board the National Research Council (NRC) Falcon-20, which has been modified for reduced gravity flight in association with the Canadian Space Agency (CSA).</p>

<p>Any student team at a Canadian university or college can submit a proposal for their experiment, after which, 4 teams will be selected to fully design, build and fly their experiments. Two members of each team will fly their experiments on board the Falcon-20 which simulates microgravity conditions by flying in consecutive parabolas.</p>

<p>We seek to create tangible student-led impact in space exploration and development. This is a unique opportunity for students to develop skills in STEM, to fly on board a parabolic aircraft, and conduct research in an environment that is unparalleled here on Earth.</p>

<p>The 2017-2018 handbook is now available <a href="/Files/CAN-RGX Student Handbook 2017-2018.pdf" target="_blank" class="text-danger">here</a>!</p>
<p><a href="/Files/CAN-RGX Faculty Endorsement Letter Template.pdf" target="_blank" class="text-danger">Faculty Endorsement Letter Template</a></p>

<p class="lead">4 teams have been selected for CAN-RGX 2018! Read the <a href="/Files/CAN-RGX 2017-18 Team Selection Announcement.pdf" target="_blank" class="text-danger">press release</a> for more information.</p>

<div id="accordion" role="tablist">

	<div class="card">
		<div class="card-header" role="tab" id="headingFour">
			<h5 class="mb-0">
				<a class="text-danger" data-toggle="collapse" href="#collapseFour">
					Meet the Teams
				</a>
			</h5>
		</div>

		<div id="collapseFour" class="collapse" role='tabpanel'>
			<div class="card-body">
				<img src="/images/FAMlogo.PNG" style="max-width: 600px;">
				<h3>Team FAM (University of Toronto)</h3>
				<p>Fluids Affected by Magnetism (FAM)’s primary goal is to investigate the effectiveness of heat transfer mechanisms of a paramagnetic fluid (PM) in microgravity. The PM will be manipulated using varying external magnetic fields which will be modulated by altering the current supplied to the coils. On Earth, convection occurs in a fluid cell due to gravity acting on density gradients. In a microgravity environment, however, density gradients are absent. The magnetic field can be used to excite certain motion patterns in the parafluid that are akin to artificial convection. These phenomena have important implications for heat and mass transfer on spacecraft, however, they remain poorly understood. Therefore, this experiment will provide a better understanding of microgravity heat and mass transport properties which could potentially improve spacecraft efficiency, sustainability, and the lifespan of its hardware.</p>

				<img src="/images/Patch.png" style="max-width: 600px;">
				<h3>Team Astroplastic (University of Calgary)</h3>
				<p>As part of the International Genetically Engineered Machine (iGEM) competition, the University of Calgary iGEM team (iGEM Calgary) developed a process to produce polyhydroxybutyrate (PHB), a bioplastic, which can be used in a selective laser sintering 3D printer to produce useful items for astronauts, using genetically engineered bacteria and solid human waste as a feedstock. With this project, our team aimed to address two major challenges for future manned Mars missions: transporting materials to Mars and recycling of human waste. Since waste management will also be an issue on the way to Mars, our goal now is to adapt our system for microgravity environments. In particular, our goal is to test a dissolved air flotation (DAF) method to extract PHB nanoparticles from liquid.</p>

				<img src="/images/QVIP.png" style="max-width: 600px;">
				<h3>Team QVIP (Queen’s University)</h3>
				<p>The Queen’s Vorticity Innovation Project (QVIP) addresses the fundamentals of vortex formation and dynamics in unsteady fluid flows, which are currently poorly understood in microgravity. The team proposes the Observation of Ring Vortex Evolution in Liquids (ORVEL) project to extend the study of vortices in two-phase flows to microgravity. The proposed experiment involves the generation of a vortex ring of ferrofluid through a tank of water. The ferrofluid will be injected into the water using a piston cylinder assembly, and the vortex ring that develops will be observed. The images of the developing vortex ring will be processed and analyzed using image correlation and post-processing techniques. Furthermore, growth and separation of the shear layer will be determined using the camera’s frame-by-frame images. Vortex ring formation in two-phase flows can be related to flood flow in the human heart. Having a better understanding of blood flow in microgravity could help explain the negative effects on the cardiovascular system of astronauts.</p>

				<img src="/images/PolERIS.tiff" style="max-width: 600px;">
				<h3>Team QRGX (Queen’s University)</h3>
				<p>Maintaining DNA sequence integrity may be a substantial concern when considering the viability of long term space travel. Extensive research has been conducted examining the effects of ionizing radiation and microgravity on DNA damage and repair. Additionally, gene expression in microgravity has been a subject of intense research. Few studies, however, have assessed the function of DNA polymerases, the enzymes responsible for DNA replication and repair, in a microgravity environment. If DNA polymerases display altered function in this setting, such results may prove critical when considering the survivability of organisms in periods of extended microgravity. The Queen’s Reduced Gravity eXperiment Design Team (QRGX) proposes an experiment assessing the impact of microgravity on the DNA polymerase I replication rate and error rate. This study will specifically analyze derivatives of the DNA polymerase I enzyme, the Klenow fragment (exonuclease +) and Klenow fragment (exonuclease -), allowing for a direct characterization of both the polymerase function and the 3’-5’ exonuclease proofreading function in μG in comparison to a 1G environment.</p>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" role="tab" id="headingOne">
			<h5 class="mb-0">
				<a class="text-danger" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Frequently Asked Questions
				</a>
			</h5>
		</div>

		<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">

				<p>We will compile a list of answers here to your questions. If you don’t find an answer below, feel free to contact us at canrgx@seds.ca.</p>

				<p>Who can I ask for help if I have a technical question related to my experiment design?</p>
				<ul><li>Selected teams will have access to a group of Subject Matter Experts (SME) who have extensive knowledge on parabolic flight science.These SMEs will be available to answer your technical questions during the competition. Send us your questions to the e-mail address above.</li></ul>

				<p>Can my experiment involve flammable material if it is properly contained?</p>
				<ul><li>No. The ‘Experiment Constraints’ outlined in the Call for Proposals prohibits the use of high-pressure, toxic, corrosive, explosive and flammable materials, regardless of the level of containment.</li></ul>

				<p>Can I alter my experiment idea after submitting my Letter of Intent?</p>
				<ul><li>Absolutely! You are welcome to tweak your experiment or completely change topic when writing your Proposal. The Proposal is the only document that will be evaluated for selection.</li></ul>

				<p>Will lab space or equipment be provided to build our experiment?</p>
				<ul><li>No. Teams are responsible for securing access to proper facilities/equipment needed to design and build their experiment.</li></ul>

				<p>Will we receive training before the parabolic flight?</p>
				<ul><li>Yes. Selected teams will undergo a pre-flight briefing where they will be coached by flight officers and guided through emergency procedures.</li></ul>

				<p>Will we be allowed to bring our own tools on board the aircraft?</p>
				<ul><li>Yes, given that the tools are deemed safe for use in parabolic flight. Note that all tools will need to be contained or tethered during parabolas.</li></ul>

				<p>Can we perform experiments on humans, animals or living cells?</p>
				<ul><li>No. These types of experiments will not be possible for this year’s competition.</li></ul>

				<p>Can my team have more than one faculty advisor?</p>
				<ul><li>Yes, but you must identify one primary faculty advisor who must also be affiliated with your team’s academic institution.</li></ul>

				<p>Can I apply if I am an international student?</p>
				<ul><li>Yes! Any student enrolled at a Canadian post-secondary institution can apply, regardless of residency status.</li></ul>

				<p>Can I participate if I am enrolled part time?</p>
				<ul><li>Yes! As long as you can provide proof of enrollment at your academic institution, you can enter into the competition.</li></ul>

				<p>Do you accept unofficial proof of enrollment?</p>
				<ul><li>Yes, however official proof must be submitted with the team’s Proposal.</li></ul>

				<p>Is there a limit on how many members can be in my team?</p>
				<ul><li>No, however your team can only be associated with one ‘primary Canadian institution’. This means that any team members who are not enrolled at the primary Canadian institution will be listed as ‘collaborating institutions/members’.</li></ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" role="tab" id="headingTwo">
			<h5 class="mb-0">
				<a class="text-danger" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					Relevant Topics and Areas of Research
				</a>
			</h5>
		</div>

		<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">
				<p>Any biological or physical process that depends on gravity on Earth can be studied in microgravity to observe changes. Students from a wide variety of backgrounds can perform experiments; these include, but are not limited to:</p>
				<ul>
					<li>Material Sciences</li>
					<li>Fluid, Heat and Mass Dynamics</li>
					<li>Mechanics and Structures</li>
					<li>Sensors, Control Systems and Robotics</li>
					<li>Chemistry</li>
					<li>Geological Processes</li>
					<li>Astroparticle and Radiation Sciences</li>
					<li>Kinesiology, Biophysics and Biomechanical Engineering</li>
					<li>Biology and Biochemistry</li>
					<li>Plant, Animal and Human Physiology</li>
					<li>Nutrition Sciences</li>
					<li>Pharmacology and Medicine</li>
				</ul>
				<p>For inspiration, here is a list of abstract titles from the <a href="https://microgravityuniversity.jsc.nasa.gov/pdfs/2014-Reduced-Gravity-Handbook.pdf">2014 NASA Reduced Gravity Flight Opportunities Program</a>, which cover several research topics:</p>
				<ul>
					<li>Dust Coagulation in Microgravity</li>
					<li>Electrodynamic Dust Mitigation for NEO Missions</li>
					<li>Flow Boiling Bubble Detachment in Microgravity</li>
					<li>Canfield Joint Attitude Control</li>
					<li>Zero Gravity Mass Inventory Gauge System</li>
					<li>Frontal Polymerization in Microgravity</li>
					<li>Fiber Supported Droplet Combustion of Biofuels</li>
					<li>Still Deployment Mechanism for Small Satellite Platforms</li>
					<li>Moisture Transport Systems for Wearable Applications</li>
					<li>Vectran Combustion in Microgravity</li>
					<li>Low-Velocity Regolith Ejecta</li>
					<li>Alteration of Actin’s Critical Concentration in Microgravity</li>
					<li>Miniaturized cardiac monitoring systems in microgravity</li>
					<li>Noninvasive Biosensing for Long Distance Space Flights</li>
					<li>Peristaltic Flow in Zero Gravity</li>
					<li>Automated Microgravity Fluids Testing for Advanced Plant Habitat</li>
					<li>A reporter system to assess the effects of microgravity on UV-induced DNA damage</li>
					<li>Measuring and Interpreting the Effects of Gravity on Human Biochemical Processes</li>
					<li>CPR in a microgravity environment</li>
					<li>HTEE (Hemodynamic Transesophageal Echocardiography) Evaluation and Analysis Research Team (HEART)</li>
				</ul>
			</div>
		</div>
	</div>
	<!--div class="card">
		<div class="card-header" role="tab" id="headingThree">
			<h5 class="mb-0">
				<a class="text-danger" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
					Teams and Results from 2016
				</a>
			</h5>
		</div>

		<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
			<div class="card-body">
				...
			</div>
		</div>
	</div-->
</div>