<div class="row">
	<div class="col-md-12">
		<img src="/images/can-sbx.png" class="rounded mx-1" width="20%">
		<p class="h2 mt-3">Canadian Stratospheric Balloon Experiment</p>
		<p>The Canadian Stratospheric Balloon Experiment Design Challenge (CAN-SBX) is a competition for Canadian post-secondary students to design and test a small scientific experiment to fly on board a High-Altitude Balloon provided by the Canadian Space Agency. The CAN-SBX program allows post-secondary students to develop different experiments in areas such as astrophysics, Earth atmosphere, Earth magnetic field, biology, remote sensing and technology demonstrations.</p>
		<p>Any student team at a Canadian university or college may submit a proposal for their experiment, after careful consideration, 2 teams will be selected to fully design, build and fly their experiments. Three to Six students from each team will attend the 2018 launch campaign in Timmins Ontario.</p>
		<p>SEDS Canada strives to create a tangible student-led impact in space exploration and development. This is a unique opportunity allows students to develop skills in STEM and conduct research in an environment that is unparalleled here on Earth.</p>
		<p>Read the full <a href="/Files/SEDS-Canada_CAN-SBX_-_Request_for_Proposals_-_17-18.pdf" class="text-danger" target="_blank">Request for Proposals</a></p>
		<p><a href="/Files/SEDS-Canada_CAN-SBX_-_Addendum_1.pdf" class="text-danger" target="_blank">Addendum to the RFP</a></p>
		<p><a href="/Files/SEDS-Canada_CAN-SBX_-_Addendum_2.pdf" class="text-danger" target="_blank">2nd Addendum to the RFP</a></p>
		<p><a href="/Files/Letter_of_Intent_Template.docx" class="text-danger" target="_blank">Template Letter of Intent</a></p>
		<p><a href="/Files/CAN-SBX_Faculty_Endorsement_Letter_Template_Revised.docx" class="text-danger" target="_blank">Template Faculty Endorsement Letter</a></p>
		<br />

		<div id="accordion-sbx" role="tablist">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne-sbx">
					<h5 class="mb-0">
						<a class="text-danger" data-toggle="collapse" href="#collapseOne-sbx" aria-expanded="true" aria-controls="collapseOne-sbx">
							Flight Campaign and Schedule
						</a>
					</h5>
				</div>

				<div id="collapseOne-sbx" class="collapse" role="tabpanel" aria-labelledby="headingOne-sbx" data-parent="#accordion-sbx">
					<div class="card-body">
						<p>The flight campaign will be held in early August of 2018. The flight will span the duration of approximately 10 hours, however flight campaigns can last on the order of serval days, depending on weather dependent launch windows. Historically, most of the launch opportunities at the Timmins base have been between 4 pm and 8 am as winds are weaker at evening and night. The flight campaign will occur tentatively over the period of two weeks and will include the following:</p>
						<ul>
							<li>Registration</li>
							<li>Pre-flight briefings</li>
							<li>Experiment-gondola integration</li>
							<li>Flights</li>
							<li>Payload/gondola recapture</li>
							<li>Data analysis</li>
							<li>Reception</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingTwo-sbx">
					<h5 class="mb-0">
						<a class="text-danger" data-toggle="collapse" href="#collapseTwo-sbx" aria-expanded="true" aria-controls="collapseTwo-sbx">
							Eligibility, Funding and Timeline
						</a>
					</h5>
				</div>

				<div id="collapseTwo-sbx" class="collapse" role="tabpanel" aria-labelledby="headingTwo-sbx" data-parent="#accordion-sbx">
					<div class="card-body">
						<p>All students at secondary and post-secondary institutions in Canada are eligible to enter this competition, however, the team leader and no less than 80% of the team must be enrolled at a post-secondary institution. Funding for travel and lodging will only be provided for students currently enrolled in a Canadian post-secondary institution. The two teams selected by SEDS-Canada and the Canadian Space Agency to access this flight will be eligible to apply for a grant to cover travel and accommodation expenses for the student team members and shipping costs for their experiment, tools and other ground support equipment. The selected teams will apply for the CSA grant provided they have a professor-advisor that can manage the grant. Expenses associated with experiment development, testing and integration cannot be included in the budget of the applicant’s proposal. It is the responsibility of the recipient to comply with all of the safety procedures, and to ensure that the payload will be ready on time and meets safety and interface requirements, which are outlined in the SEDS STRATOS 2018 Handbook.</p>

						<p>Students must adhere to the following timeline and requirements in order to qualify for the selection process:</p>

						<ul>
							<li>October 13th 2017, 11:59 p.m. - Submit your Letter of Intent with the following information:
								<ul>
									<li>Team information - names, emails, majors, proof of enrolment.</li>
									<li>Endorsement of at least one faculty advisor at your institution.</li>
									<li>Brief summary of the proposed experiment.</li>
									<li>A $50 security deposit which will be returned upon submission of your team proposal.</li>
								</ul>
							</li>
							<li>December 1st 2017, 11:59 p.m. - Submit team Proposal.</li>
							<li>December 22 2017 - Teams will be notified of their selection and feedback will be provided by SMEs.</li>

							<li>For selected teams:
								<ul>
									<li>February 9th  2018, 11:59 p.m. - Submit your Preliminary Design Review (PDR)</li>
									<li>March 30th  2018, 11:59 p.m. - Submit your Critical Design Review (CDR)</li>
									<li>May 25th 2018, 11:59 p.m. - Submit your Test Equipment Data Package (TEDP)</li>
									<li>August 2018- Flight campaign, dates TBA</li>
								</ul>
							</li>
						</ul>
						<p>The PDR, CDR and TEDP are documents that are required to complete milestones in a standard design process. These documents will be evaluated by SMEs throughout the experiment design phases.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>