<div class="jumbotron jumbotron-fluid" align="center">
	<a class="btn btn-outline-danger btn-lg" href="/" role="button">Home</a>
	<div class="btn-group">
		<a class="btn btn-outline-danger btn-lg" href="about" role="button">About Us</a>
		<a class="btn btn-outline-danger btn-lg" href="projects" role="button">Our Projects</a>
		<a class="btn btn-outline-danger btn-lg" href="conference" role="button">Ascension</a>
		<a class="btn btn-outline-danger btn-lg" href="people" role="button">Our People</a>
		<a class="btn btn-outline-danger btn-lg" href="partners" role="button">Our Partners</a>
		<a class="btn btn-outline-danger btn-lg" href="news" role="button">News</a>
		<a class="btn btn-outline-danger btn-lg" href="join" role="button">Join Us</a>
		<a class="btn btn-outline-danger btn-lg" href="login" role="button">SpaceORB</a>
	</div>
	<!--a class="btn btn-danger btn-lg" href="sponsorship" role="button">Support Us</a-->

</div>