{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<h1 class="display-4" align="center">Uh-oh!</h1>
<p align="center">Looks like what you're looking for isn't here, but while you're here take a look around!</p>

{% endblock %}