{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p class="display-4" align="center">About Us</p>
		<p class="lead">
		Students for the Exploration and Development of Space (SEDS Canada) is a student-run non-profit reestablished in late 2014.</p>
		<p>We work to develop unique learning and development opportunities, such as the Canadian Reduced Gravity Experiment Design Challenge and Young Space Entrepreneurs Competition. Our projects, along with Ascension, our national conference, provide opportunities for students to learn key technical skills and participate in exciting and relevant experiences for their professional development. To date, we’ve provided 38 students with unique hands-on experiences in business development and microgravity research. This year in addition to providing these opportunities to more students than ever before we are expanding the amount and types of activities we offer.</p>

		<br />

		<p class="h3" align="center">Our Mission</p>
		<p>Our mission is to strengthen Canada's future in space by providing post-secondary students with unique projects, research programs, and professional development opportunities in the Canadian governmental, industrial and institutional space sectors.</p>

		<p class="h3" align="center">Our Vision</p>
		<p>Our vision is to be the central hub for all post-secondary students who want to have an impact in the Canadian governmental, industrial and institutional space sectors, by providing opportunities that engage students at the forefront of space exploration and development.</p>

		<br />

		<p class="h3" align="center">The Birth of SEDS</p>
		<p>SEDS was founded by Peter Diamandis while he was a sophomore at MIT in October 1980, with founding chapters also started by Scott Scharfman and Richard Sorkin at Princeton University and Yale University respectively.</p>

		<p>Shortly after, in the Spring of 1981, SEDS was initiated in Canada by Bob Richards. Together with Todd Hawley, Peter and Bob established SEDS as an international movement in 1982 at the first SEDS conference held at George Washington University.</p>
	</div>
</div>

{% endblock %}