{% layout 'default' %}

{% block %}

{% include 'small-nav' %}

<div class="row">
	<div class="col-md-12" align="center">
		<h1 class="display-3">Add Articles or Opportunities</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active text-danger" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-expanded="true">News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-danger" id="spaceorb-tab" data-toggle="tab" href="#spaceorb" role="tab" aria-controls="spaceorb">SpaceORB</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active mt-4" id="news" role="tabpanel" aria-labelledby="news-tab">
				<div class="card">
					<form class="card-body" action="/submit-news" method="POST">
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" name="title" placeholder="title">
						</div>
						<div class="form-group">
							<label for="author">Author</label>
							<input type="text" class="form-control" name="author" placeholder="name">
						</div>
						<!--feature image uploader-->
						<div class="form-group">
							<label for="lead">Lead</label>
							<textarea type="text" class="form-control" name="lead" aria-describedby="leadHelp" placeholder="Blah"></textarea>
							<small id="dateHelp" class="form-text text-muted">Put the first couple sentences of your piece here.</small>
						</div>
						<div class="form-group">
							<label for="content">Article</label>
							<textarea type="text" class="form-control" name="content" aria-describedby="contentHelp" style="min-height: 200px;" placeholder="Blah Blah Blah"></textarea>
							<small id="contentHelp" class="form-text text-muted">Paste your entire piece here, including html tags</small>
						</div>
						<input type="hidden" name="date" value="<script>new Date()</script>">
						<button class="btn btn-danger" type="submit" id="btn-post">Post</button>
					</form>
					<div class="alert alert-primary" role="alert" class="news-report">
					</div>
				</div>
			</div>
			<div class="tab-pane fade mt-4" id="spaceorb" role="tabpanel" aria-labelledby="spaceorb-tab">
				
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

{% endblock %}