{% layout 'default' %}


{% block %}

{% include 'jumbo-nav' %}

<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-10">
	<h1 class="display-4" align="center">Mars Express 2003</h1>
	<p>Named for one of its key characteristics, the rapidity of its development, Mars Express was launched on June 2, 2003 by the ESA. It was designed in the effort to send a quick, relatively inexpensive, but still scientifically advanced spacecraft to explore Mars, and it did just that. To this day, Mars Express continues to be quick-witted and snappy as it operates around Mars with its seven other mechanical compatriots (as you can imagine, it’s known as the impulsive one of the group, much to the chagrin of the wizened Mars Odyssey 2001).</p>
	
	<div align="center">
		<img src="/images/mars-express.jpg">
		<p><a href="http://m.esa.int/Our_Activities/Space_Science/Mars_Express/The_spacecraft" target="_blank" class="text-muted">Source: ESA</a></p>
	</div>

	<p>The constructors of the orbiter were clever and efficient, just like the spacecraft itself (though the humble Mars Express would be loathe to admit it). In order to maximize efficiency and reduce costs, its parents created it using equipment that had been built (but never used) for ESA’s Rosetta mission. Some of its instruments also had roots from the unsuccessful Russian Mars 96 mission of 1996.</p>

	<p>Additionally, Mars Express was accompanied by a close friend; the Beagle 2. After all, the journey to Mars is hard and long - what better way to brave those harsh conditions than with a robotic friend?</p>

	<p>The Beagle 2 is a lander named after the HMS Beagle, a ship Charles Darwin travelled in when formulating his ideas surrounding natural selection. A fitting name considering one of its main objectives was sussing out whether or not Mars has the conditions necessary for the development of life. Its other intentions were to determine the geology and composition of the landing site and study Martian weather and climate. Unfortunately, following its deployment from the orbiter on December 25, 2003, the Beagle 2 lost communication. Its fate was an unsolved puzzle until January 16, 2015 when it was spotted in photos taken by NASA’s Mars Reconnaissance Orbiter. Far from its former friend, the lander’s cold, metallic corpse had found its final resting place in a basin near Mars’ equator called Isidis Planitia.</p>

	<div align="center">
		<img src="/images/express-2.jpg">
		<p><a href="http://m.esa.int/Our_Activities/Space_Science/Mars_Express/The_mission" target="_blank" class="text-muted">Source: ESA</a></p>
	</div>

	<p>If asked the panic-inducing question “What do you want to do with your life?”, Mars Express would have a clear-cut answer. This orbiter is a jack of all trades (but the master of all). Its goals encompass a wide range of topics: imaging the entire Martian surface at a high resolution, formulating a map of the surface’s mineral composition, deducing the atmospheric composition, uncovering the structure of the sub-surface down to a few kilometres, determining how the atmosphere impacts the surface, and discovering the interactions between the atmosphere and solar wind.</p>

	<p>To achieve these goals, of course, Mars Express needed a game plan and some tools. It was equipped with seven instruments that covered three categories: surface/subsurface, atmosphere/ionosphere, and communications/radio link. Each one of these shaped the life of the spacecraft and enabled it to uncover invaluable information regarding Martian composition and conditions.</p>

	<p>The High Resolution Stereo Camera (HRSC) is capable of imaging in full colour 3D at 10 metres/pixel and 2 metres/pixel. During the orbiter’s baby years in the early 2000s, the HRSC’s accuracy was a vast improvement over many other devices. The HRSC has acquired thousands of high resolution 3D landscapes. Dramatic vistas of soaring volcanoes, steep canyons, dry river valleys, ancient impact craters, and the fluctuating polar ice caps have been immortalized via photography. Thanks to this one little device, Mars Express has composed a far more dynamic and riveting scrapbook than any one of us humans could boast from here on Earth. It even captured Mars’ enigmatic moons, Phobos and Deimos, in the same photo. HRSC snapped 130 images in the span of 1.5 minutes on November 5, 2009. The aforementioned photos were used to validate and refine their orbital models. Of course, Mars Express wanted to get familiar with its fellow satellites, as they have no choice to put up with one another indefinitely. At least the orbiter displayed the fact that it was a nosey neighbour early on.</p>

	<div align="center">
		<img src="/images/thaumasia.jpg">
		<p><a href="http://m.esa.int/spaceinimages/Images/2017/08/Perspective_view_of_crater_in_Thaumasia_mountain_range" target="_blank" class="text-muted">Source: ESA</a></p>
		<small class="text-muted">Crater in Thaumasia Mountain Range (released 10/09/2017)</small>
	</div>

	<div align="center">
		<img src="/images/phobos.jpg">
		<p><a href="http://m.esa.int/spaceinimages/Images/2014/04/Phobos_close_up" target="_blank" class="text-muted">Source: ESA</a></p>
		<small class="text-muted">Phobos (14/12/2009)</small>
	</div>

	<div align="center">
		<img src="/images/hrsc-img.jpg">
		<p><a href="http://www.esa.int/spaceinimages/Images/2004/01/Mars_Express_HRSC_image_14_January_20043" target="_blank" class="text-muted">Source: ESA</a></p>
		<small class="text-muted">1700 km x 65 km Swath of Valles Marineris (01/14/2004)</small>
	</div>

	<p>The OMEGA Visible and Infrared Mineralogical Mapping Spectrometer is an instrument that collects data of the visible and infrared light reflected from Mars’ surfaces in order to map its composition. OMEGA also assists in measuring the atmosphere as the light from the surface gets refracted, absorbed, and reflected while traveling through. Some of its most important discoveries concern its irrefutable detection of carbon dioxide clouds. They were identified by the spectral feature seen in a strong, concentrated carbon dioxide absorption band caused by the ice crystals scattering resonant photons.Typically, clouds reside at an altitude of around 80 km. OMEGA also provided evidence of liquid water on the planet in 2005. There had been indirect photographic evidence previously that showed landforms that seemed to have been formed by water-related processes. But more tangible evidence was found by OMEGA in the form of two different classes of hydrated minerals, which are minerals that bear water in their crystalline structure and are able to provide a mineralogical record of water-related processes. Phyllosilicates, which are formed from igneous during long term exposure to water, were found primarily in Arabia Terra, Terra Meridiani, Syrtis Major, Nili Fossae, and Mawrth Vallis. Hydrated sulphates are hydrated minerals created by acidic water and were found in layers at Valles Marineris, vast surface exposures in Terra Meridiani, and in dunes near the northern polar cap.</p>

	<p>The SPICAM Ultraviolet and Infrared Atmospheric Spectrometer measures the wavelengths of light that are absorbed by the atmosphere to determine Mars’ atmospheric composition. It has a UV sensor to detect 250nm-absorbing ozone and an infrared sensor to detect the presence of water vapour (which absorbs light of 1.38 microns). SPICAM actually detected the highest clouds above any planet; an evanescent layer of clouds at 100km above the Martian surface!</p>

	<p>Another instrument, the Planetary Fourier Spectrometer (PFS), measures 1.2-45 micron sunlight absorbed by atmospheric molecules as well as the infrared that said molecules subsequently emit. The PFS can therefore obtain the vertical pressure and temperature profile of the carbon dioxide that composes 95% of the Martian atmosphere, as well as trace gases such as water, carbon monoxide, methane, and formladehyde. In the event of colonization, atmospheric composition is imperative to know because, unlike Mars Express, humans need to breathe (believe it or not). One of the PFS’s primary discoveries was the detection of methane. The locations containing high concentrations of methane overlapped with enhanced water vapour levels (measured by SPICAM) close to the surface at Arabia Terra, Elysium Planum, and Arcadia-Memnonia. This relationship seemed to indicate a common geothermal source such as an active volcano or even biological activity! Mars Express was fascinated, if a bit jealous, to learn that it and its robotic companions maybe weren’t the only inhabitants of the Red Planet (and just when they thought they had finally gotten rid of us biological pests…). The existence of methane continues to puzzle scientists as it inexplicably defies atmospheric models. However, this is not hard proof of life on Mars and should not be treated as such. Even so, it is a step in the right direction and rightly sparked a lot of discussion.</p>

	<p>The ASPERA Energetic Neutral Atoms Analyser tracks the amount and location of oxygen and hydrogen that interact with solar wind. It does so by measuring the presence of ions, electrons, and atoms in Mars’ outer atmosphere. This information is of special concern because it is theorized that solar winds are responsible for stripping Mars of its atmosphere and its water long ago. Now it is an arid planet with an atmosphere that is barely clinging on. It is thought that Mars’ weak magnetic field cannot deflect the solar particles, and so their consequent interaction with the upper atmosphere results in gases fleeing into space. ASPERA measures the inflow of energetic particles and the outflow of particles from the atmosphere and ionosphere. The information gleaned showed that the solar wind dug deep into the atmosphere and that oxygen and hydrogen ions were what most frequently escaped. In comparison, the escape rate of carbon dioxide was found to be extraordinarily leisurely despite the fact that it is far more abundant. Overall, the results demonstrated that the escape rate over the last 3.5 billion years does not sufficiently explain the amount of atmospheric loss. There must have been additional mechanisms that facilitated this process, not the interactions between the solar wind and the upper atmosphere alone.</p>

	<div align="center">
		<img src="/images/mars_ionosphere.jpg">
		<p><a href="http://www2.irf.se/press/pressrel_040316" target="_blank" class="text-muted">Source: IRF</a></p>
		<small class="text-muted">Measurements from ASPERA</small>
	</div>

	<p>The Mars Radio Science Experiment (MaRS) utilized the radio signals being transmitted among spacecraft as well as the signals to and from earth to investigate the ionosphere, atmosphere, surface, and even the interior of Mars. In essence, it eavesdropped on its fellow spacecraft in order to glean information on the planet itself - and of course, MaRS stayed up to date on all the latest orbiter gossip. Calculations of the variations in Mars’ gravitational field were taken using data on the changes of velocity of the spacecraft relative to earth. In turn, gravitational data revealed information about Mars’ interior. Characteristics such as surface roughness were also calculated based on how the radio waves were reflected off of Mars’ crust. This instrument made some groundbreaking discoveries. MaRS found empirical evidence for a ‘meteoric’ layer of the ionosphere that had been predicted previously. When radio signals pass through the atmosphere, they communicate information about the density of electrons in the layers of the ionosphere. This region (from 65 to 110 km above the surface) was found to be one tenth the density of the main ionospheric layer. It is formed when high speed cosmic debris burns up in the upper atmosphere and creates magnesium and iron species. That dust then interacts with solar flux and the other areas of the ionosphere to produce a distinct third layer.</p>

	<p>Last but not least is the MARSIS Sub-Surface Sounding Radar Altimeter, which sends down low frequency radio waves with its 40-metre long antenna in order to map a few kilometres below the Martian surface. It is also capable of studying the ionosphere since the electrically charged areas of the upper atmosphere will also reflect some of the waves</p>

	<div align="center">
		<img src="/images/mars-express-highlights.jpg">
		<p><a href="https://www.flickr.com/photos/esa_events/8937067224/" target="_blank" class="text-muted">Source: ESA</a></p>
	</div>

	<p>Mars Express has been indispensable in the human effort to explore Mars. Though it experienced a fair number of hardships along the way, including the loss of a friend, its journey is one that merits satisfaction and pride. But it isn’t over yet; the orbiter is still fully operational and continues to send data back to us humans on Earth. It’s only 14 years old, a mere teenager, and it has so much more life to experience.</p>

	</div>

	<div class="col-md-1"></div>
</div>

{% endblock %}