{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-10">
		<h1 class="display-4" align="center">2001 Mars Odyssey</h1>

		<p class="lead">We are pleased to introduce you to the first spacecraft: please give a warm welcome to <em>2001 Mars Odyssey</em>! As you may have noticed, its name is a clever homage to science fiction author Arthur C. Clarke and his legendary book <em>2001: A Space Odyssey</em>.</p>
		<p>This spacecraft fell into orbit around the Mars on the fateful day of October 24, 2001 (in Earth time, that is). As such, this spacecraft has the honour of being the eldest Martian resident that is still in operation. At the wise old age of 16, this long-lived orbiter has countless stories to tell.</p>

		<div align="center">
			<img src="/images/mars-odyssey.jpg">
			<p><a href="https://mars.jpl.nasa.gov/odyssey/mission/spacecraft/" target="_blank" class="text-muted">Source: NASA</a></p>
		</div>

		<p>Like many other astronomical endeavours, 2001 Mars Odyssey began its journey within the minds of NASA scientists. The spacecraft was designed around the four scientific goals that shaped the Mars Exploration Program: determining the presence of life, mapping climate, characterizing geology, and preparing for colonization.</p>

		<div align="center">
			<img src="/images/odyssey-h2o-map.jpg">
			<p><a href="https://mars.nasa.gov/odyssey/images/odyssey/technology/h2o_map-br.jpg" target="_blank" class="text-muted">Source: NASA</a></p>
		</div>

		<p>With that in mind, Odyssey was given its own particular set of objectives with corresponding scientific instruments. In order to fulfill its lifelong dream of mapping Mars’ elemental composition and determining the abundance of hydrogen in the subsurface, Odyssey was equipped with a gamma ray spectrometer (GRS). Collaboration between the University of Arizona, Los Alamos National Laboratory, and Russia’s Space Research Institute produced the GRS. It is composed of a gamma sensor head, neutron spectrometer, high energy neutron detector, and central electronics assembly. Together, all of these components are able to determine the abundance and distribution of 20 elements down to a meter below the Martian surface.</p>

		<p>When cosmic rays interact with the atoms on Mars, neutrons are emitted. In turn, these neutrons excite other atoms and produce gamma rays. Each individual chemical has its own energy signature - that is, excitation produces different intensities of different wavelengths for every element. Using this concept, scientists can determine the quantity and location of chemicals on Mars’ surface by analyzing the light spectrum. The presence of hydrogen is of particular interest since it could indicate the existence of water. Many of Odyssey’s most important discoveries stem from this.</p>

		<div align="center">
			<img src="/images/themis-sample.jpg">
			<p><a href="https://mars.nasa.gov/odyssey/mission/instruments/themis/" target="_blank" class="text-muted">Source: NASA</a></p>
		</div>

		<p>But, being an orbiter of many talents, the Odyssey could not just settle for one instrument. The spacecraft had two others; THEMIS (Thermal Emission Imaging System) was designed to obtain images of the surface mineralogy and information on the surface’s morphology while MARIE (Mars Radiation Environment Experiment) characterized the planet’s near-space radiation environment. THEMIS has both a visible light and infrared camera. In the infrared light spectrum, different minerals appear in different colours so Mars Odyssey can detect variations in material that would be indistinguishable using the visible spectrum alone. During the day, the light reflected by the surface is imaged, which shows the composition. At night, without the influence of the sun, the infrared imager looks for active thermal activity. As for MARIE, the instrument contains a spectrometer that measures the energy from cosmic radiation as well as solar energetic particles.</p>

		<p>Equipped with these scientific instruments, Mars Odyssey was launched on April 7, 2001 from Kennedy Space Centre. Upon arrival, it used aerobraking (using atmospheric drag to reduce speed and shrink the orbit) for several months in order to fall into a circular two hour orbit suitable for the Martian research it was eager to conduct. Mapping occurred from February 2002 until August 2004 and much was discovered. Odyssey outlined the amount and distribution of chemicals composing the Martian surface. For instance, the GRS uncovered vast amounts of water ice at Mars’ poles and tracked the seasonal growth and shrink of these polar ice caps. THEMIS has collected over 15,000 images and provided the first photos of exposed water ice at Mars’ southern polar cap. The discovery of abundant ice water was invaluable and guided the goals of future missions.THEMIS’ other achievements include the uncovering of an abundance of Martian volcanoes, flows of dacite (chemically complex lava), gullies eroded by snow, olivine-rich rocks in Syrtis Major which indicate that Mars was cold and dry for most of its lifetime since olivine rapidly decomposes when wet, craters that were once ancient lakes, and much more. In addition to the research conducted while in Martian orbit, the MARIE collected data all throughout Odyssey’s flight from Earth to Mars. Data indicated that the radiation near Mars was two to three times greater than at the International Space Station. Since radiation poses a significant health risk, this information is imperative for planning manned Mars missions and ensuring that the astronauts are adequately protected during travel and upon arrival.</p>

		<div align="center">
			<img src="/images/odyssey-radiation.jpg" width="600px">
			<p><a href="https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA03745" target="_blank" class="text-muted">Source: NASA</a></p>
		</div>

		<p>Following its primary mission, 2001 Mars Odyssey spent its time chatting with its two best buddies, the twin rovers Spirit and Opportunity. It acted as the rovers’ communications relay station and transmitted 85% of all their data to Earth, which it continued to do until Spirit’s untimely demise in 2010. Though Odyssey and Opportunity mourned their lost companion, they maintained their connection and eventually gained a new friend, NASA’s Curiosity rover, in August 2012. As of today, Odyssey continues to relay data from both rovers and is still happily orbiting Mars. While the spacecraft has not acquired any groundbreaking data lately, the reevaluation of older hydrogen maps led to the realization that water ice may exist at areas along the equator, which was an unprecedented discovery.</p>
	</div>

	<div class="col-md-1"></div>
</div>
{% endblock %}