{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10" align="center">
		<p class="display-4">Board of Director Elections!</p>
		<p>Are you interested in making a difference in the Canadian space community? Do you want to gain unique leadership experience? Do you want to meet more space enthusiasts? If you said yes to any of the above consider nominating yourself for a position on the Board of Directors!</p>
		
		{% include 'BoD-positions-modal' %}

	</div>
</div>

<div class="row" style="margin-top: 40px;">
	<div class="col-md-3"></div>
	<div class="col-md-6" align="left">
		<p>Nominate yourself by emailing <a href="elections@seds.ca">elections@seds.ca</a> with the following:</p>
		<ul>
			<li>A copy of your resume</li>
			<li>Brief answers to the following questions:</li>
				<ul>
					<li>Why do you want to be elected to the position(s) you are nominating yourself for? Why are you the best candidate?</li>
					<li></li>
				</ul>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12" align="center">
		<p class="display-4">Work with us!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p class="h5">Volunteer staff opportunities available at SEDS Canada:</p>
		<ul>
			<li>No specific openings at this time check back soon!</li>
		</ul>
		<p>Submit an application to <a href="mailto:work@seds.ca" class="text-danger">work@seds.ca</a> with your resume and any other relevant materials.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12" align="center">
		<p class="display-4">Become a Student Member Today!</p>
	</div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p class="lead">As a member of SEDS Canada you get:</p>
		<ul>
			<li>Access to the Space Opportunities and Resource Board (SpaceORB)</li>
			<li>Discounted admission to Ascension</li>
			<li>Perks and the Member role on our community server</li>
			<li>Coming Soon, mentorship opportunites!</li>
		</ul>

		<p class="h5">SpaceORB</p>
		<p>The Space Opportunities Resource Bulletin is a growing resource of events, scholarships, research, co-op and recent graduate opportunites available to Students interested in space.</p>
		<br />
		<p class="h5">Mentorship</p>
		<p>Several advisors have generously vonlunteered their time to mentor our members as the first of a set of mentorship opportunities we plan to develop.</p>
		<br />
		<p class="h5">Community Server</p>
		<p>Space Canada is our online community hosted on Discord. It's free to join! As a member however you'll get the members role which grants access to special members only areas such as our opportunities and giveaways channels!</p>

		<br />
		<form action="/checkout" method="POST">
			<script
			src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="pk_live_U12GcZvJhwxTwqr7jZKoK3PV"
			data-amount="1200"
			data-name="SEDS - EEDS Canada"
			data-description="Student Membership"
			data-zipcode="true"
			data-billing-address="true"
			data-shipping-address="true"
			data-locale="auto"
			data-currency="cad"
			data-image="sedseeds-stamp-red-black.png"
			data-allow-remember-me="false"
			data-label="Become a Member!">
		</script>
	</div>
</div>

{% endblock %}
