{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<h1 class="display-4">Uh-Oh</h1>
<p class="lead">You don't seem to have the Member role on the Discord server.</p>
<p>If you purchased a membership and don't have the member's role send Nicolas L#6223 a message on discord with the email address you used to purchase the membership.</p>
<p>If you haven't purchased a membership yet you can do so over <a href="/membership">here</a>!</p>

{% endblock %}