{% layout 'default' %}


{% block %}

{% include 'small-nav' %}

<h1 class="display-4" align="center">SpaceORB</h1>
<br />

<p class="lead">Under construction, for SpaceORB opportunities see the #opportunities channel on <a href="https://discord.gg/aMyGDkm" class="text-danger">Discord</a>. An update will be posted on Discord once this part of the site is ready!</p>

{% endblock %}